{% load cart %}

{% load static %}


<!doctype html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/91018170e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'menu.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SpiceKafee</title>
</head>
<style>
    .cart_length{
        color:orange;
        background:white;
        padding:0px 5px;
        margin:5px;
        font-size:16px;
        font-weight:bolder;

    }
    .active-link:hover{
        background:orange;
        color :white;
    }
</style>
<body>

    <!--==================================== navbar =============================-->
    <nav class="nav">
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'product' %}">Menu</a></li>
                <li><a href="{% url 'carts' %}">Cart</a>
                    {% if request.session.cart.keys|length > 0%}
                    <span class="cart_length">{{request.session.cart.keys|length}}</span>
                    {% endif %}
                </li>
                {% if request.session.user_id %}
                <li><a href="#">hello {{request.session.username}}!!</a></li>
                <li><a href="{% url 'order' %}">Orders</a></li>
                <li><a href="{% url 'signout' %}">Sign Out</a></li>
                {% else %}
                <li><a href="{% url 'signin' %}">Sign In</a></li>
                <li><a href="{% url 'signup' %}">sign Up</a></li>
                {% endif %}
            </ul>
        </nav>

<!--===============================header start================================-->
<header class="header">
    <video id="videoBG" poster="{% static 'images/sc2.png' %}" autoplay muted loop>
            <source src="{% static 'videos/video2_trim.mp4' %}" type="video/mp4">
    </video>
    <div class="hero">
        <h1 class="title t-a-3">SpiceKafee</h1>
        <div class="search-box">
            <span><input class="search-txt" type="text" name="" placeholder="search your cusine"></span>
            <span><a class="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a></span>
        </div>
    </div>
</header>
<!--==============================header ends=====================================-->


<div class="container-fluid mt-3" >
    <!-- filter -->
    <div class="col-lg-2 mx-auto" style="float:left">
            <div class="heading-text" style="text-align:center; margin:8px 0;">
                <h3>Filter</h3>
            </div>
			<div class="list-group">
				<a href="product" class="list-group-item list-group-item-action active-link">All Products</a>
				{% for i in category %}
				<a href="product?category={{i.id}}" class="list-group-item list-group-item-action active-link">{{i.name}}</a>
				{% endfor %}
			</div>
        </div>
	<div class="row">
		<!-- all products -->
		<div id='product' class="col-lg-12 mx-auto">
			<div class="row mx-auto">
				{% for i in product %}
				<div class="card mx-auto mb-3" id={{i.id}} style="width: 18rem;">
                    <div class="image">
                        <img src="{{i.image.url}}">
                     </div>
                     <div class="side-icon" >
                         {%if i.veg %}
                        <span><img class="veg-icon" src="https://img.icons8.com/color/48/26e07f/vegetarian-food-symbol.png"/></span>
                         {% else %}
                        <span><img class="veg-icon" src="https://img.icons8.com/color/48/26e07f/non-vegetarian-food-symbol.png"/></span>
                         {% endif %}
                        <span><h3 class="title-text1">{{i.name}}</h3></span>
                     </div>
                    <div class="side-text">
                        <div class="text">
                            <p><i class="fa fa-inr"></i>{{i.price}}/-</p>
                        </div>
                        <!--{{ i | is_in_cart:request.session.cart }}-->
                        <form action="product#{{i.id}}" method="post">
                            {% csrf_token %}
                            <div class="button-menu">
                                <input hidden type="text" name ="product" value="{{i.id}}">
                                {% if i|is_in_cart:request.session.cart %}
                                <button type="submit" style="font-size:10px">Go to Cart</button>
                                {% else %}
                                <button type="submit">order</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                  </div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script>
        const hamburger =  document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');
        const links = document.querySelectorAll('.nav-links li');

        hamburger.addEventListener('click', ()=>{
            navLinks.classList.toggle('open');
            links.forEach(links=>{
                links.classList.toggle('fade');
            });
        });


        const text = document.querySelector(".t-a-3");
        const strText = text.textContent;
        const splitText = strText.split("");
        text.textContent="";
        for(let i =0; i<splitText.length; i++)
        {
            text.innerHTML += "<span>" + splitText[i] + "</span>";
        }
        let char=0;
        let timer = setInterval(onTick, 50);
        function onTick()
        {
            const span = text.querySelectorAll('span')[char];
            span.classList.add('fade');
            char++;
            if(char === splitText.length)
            {
                complete();
                return;
            }
        }
        function complete()
        {
            setInterval(timer);
            timer=50;
        }
    </script>
</html>
